body{
  background-color: #fe5f55;
  front-family: arial, sans-serif;
  color: #090909;
}

.wrapper {
  background-color: #f7f7ff;
  Width: 92%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;
}

h1 {
  margin-bottom: .15em;
  margin-top: 1em;
}

h2 {
  margin-bottom: .25em;
  margin-top: 1em;
}

h1{
  color: #495867
  }

  h2{
  color: #577399;
  }

h3 {
  text-align: center;
  border-bottom: 2px solid #d2d2d2;
  font-size: 185%;
  padding: 20px 60px;
  color: #495867;
   }

blockquote {
  border-left: 4px solid #d2d2d2;
  padding: 12px;
  background-color: #bda6ff;
  margin-left: 0;
  }

  .image {
    text-align: center;
    margin: 2em 0;
  }

.caption {
front-style: italic;
margin-top: .1em;
}


a {
  color: #0f0326;
}

img {
max-width: 100%;
height: auto;
}

ul {
  padding-left: 20px;
  margin-top: 8px;
}

p {
  line-height: 1.4em;
}

header {
  background-image: url(../images/gplaypattern.png);
  border-bottom: 1px solid #d2d2d2;
  font-size:130%;
  padding: 10px 10px;
  text-align: center;
}

footer.wrapper {
  background-image: url(../images/gplaypattern.png);
  text-align: center;
  padding: 30px 20px;
  border-top: 2px solid #d2d2d2;

}
